<footer id="page-footer" class="flex flex-none items-center py-5">
  <div class="container mx-auto flex flex-col px-4 text-center text-sm md:flex-row md:justify-between md:text-start lg:px-8 xl:max-w-7xl">
    <div class="pb-1 pt-4 md:pb-4">
      © 2024 <span class="font-medium">Ranshe</span>
    </div>
  </div>
</footer>
